{% extends "base.html" %} {% block header %}
<table class="ui striped table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Lieu</th>
			<th class="right aligned">Date & heure</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fête de la musique</td>
			<td><a class="ui label"><i class="street view icon"></i>Dans la rue</a></td>
			<td class="right aligned">2020-12-25 00:00:00</td>
		</tr>
		<tr>
			<td>Fête de la musique</td>
			<td><a class="ui label"><i class="street view icon"></i>Dans la rue</a></td>
			<td class="right aligned">2020-12-25 00:00:00</td>
		</tr>
		<tr>
			<td>Fête de la musique</td>
			<td><a class="ui label"><i class="street view icon"></i>Dans la rue</a></td>
			<td class="right aligned">2020-12-25 00:00:00</td>
		</tr>
	</tbody>
</table>
<button class="ui green button">Retour à l'acccueil</button>
{% endblock %}
