<!--View associated to index action of FlashmobsController controller -->
{% block body %}
<div class="ui icon message">
	<i class="icon calendar check"></i>
	<div class="content">
		<div class="header">{{ message }}</div>
		<p>Cette application vous permet de gérer vos flashmobs.</p>
		<button class="ui button green" href="flashmobs">Liste des flash-mobs</button>
		<button class="ui button teal" href="flashmobs/create"><i class="icon add"></i>Liste des flash-mobs</button>
	</div>
</div>
{% endblock %}
